html {
  font-family: Raleway, monospace, courier;
  background-color: #444;
  color: #999;
}

footer {
  text-align: center;
  font-size: 13px;
}

a {
  color: rgba(162, 204, 208, 1);
}

img, h1, table, th, td, caption {
  text-align: center;
}

img {
  height: auto;
  width: 100%;
}

body {
  margin: 0;
}

h1 {
  position: absolute;
  margin: -120px 5% 0 5%;
  min-width: 90%;
  background-color: rgba(10, 10, 10, 0.6);
  font-size: 40px;
  padding: 0;
  text-align: center;
}

h1,h2 {
  color: rgba(255, 255, 255, 1);
}

.lead {
  font-size: 25px;
  font-weight: bold;
  padding: 2%;
  border: 1px solid yellow;
  border-radius:5px;
  background-color:yellow;
  color: #444; 
}

h2 {
  font-size: 33px;
  margin: 3%;
}

p {
  font-size: 20px;
  margin: 3%;
}

strong {
  color: rgba(188, 190, 192, 1);
}

caption {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

th {
  font-size: 20px;
  font-weight: bold;
  background-color: dimgray;
  border-color: dimgray;
}

td {
  font-size: 20px;
}

table,th,td,tr,caption {
  border: 1px solid dimgray;
}

h1, table, th, td, tr, footer {
  padding: 1%;
}

.lead, h2, p, table, th, td, tr, hr {
  margin-left: 4%;
  margin-right: 4%;
}

.lead, h2, p {
	line-height: 1.5;
	letter-spacing: -.04em;
}

table,th,td,tr {
  table-layout: fixed;
  border-collapse: collapse;
  width: 92%;
  margin-bottom: 5%;
}

@media (max-width : 450px) {
	h1 {
		font-size: 2.1rem;
	}
}

